package templates

import "time"

templ Scatter(page *Page, chartData []ScatterSeries, timeOfWeek time.Time) {
	@Layout(page) {
		for _, item := range chartData {
			@ScatterSeriesChart(item, timeOfWeek)
		}
	}
}

