package templates

import "time"

templ Swarm(page *Page, chartData []SwarmSeries, timeOfWeek time.Time) {
	@Layout(page) {
		for _, item := range chartData {
			@SwarmChart(item, timeOfWeek)
		}
	}
}

