@font-face {
  font-family: 'GeistSans';
  src: url(fonts/Geist-Thin.woff2) format('woff2');
  font-display: swap;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'GeistSans';
  src: url(fonts/Geist-UltraLight.woff2) format('woff2');
  font-display: swap;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'GeistSans';
  src: url(fonts/Geist-Light.woff2) format('woff2');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GeistSans';
  src: url(fonts/Geist-Regular.woff2) format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GeistSans';
  src: url(fonts/Geist-Medium.woff2) format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GeistSans';
  src: url(fonts/Geist-SemiBold.woff2) format('woff2');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'GeistSans';
  src: url(fonts/Geist-Bold.woff2) format('woff2');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GeistSans';
  src: url(fonts/Geist-Black.woff2) format('woff2');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'GeistSans';
  src: url(fonts/Geist-UltraBlack.woff2) format('woff2');
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'GeistSans_Fallback';
  src: local("Arial");
  ascent-override: 90.51%;
  descent-override: 21.64%;
  line-gap-override: 9.84%;
  size-adjust: 101.65%;
}

:root {
  --font-geist-sans: 'GeistSans', 'GeistSans_Fallback';
}

@font-face {
  font-family: 'GeistMono';
  src: url(fonts/Geist-Thin.woff2) format('woff2');
  font-display: swap;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url(fonts/Geist-UltraLight.woff2) format('woff2');
  font-display: swap;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url(fonts/Geist-Light.woff2) format('woff2');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url(fonts/Geist-Regular.woff2) format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url(fonts/Geist-Medium.woff2) format('woff2');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url(fonts/Geist-SemiBold.woff2) format('woff2');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url(fonts/Geist-Bold.woff2) format('woff2');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url(fonts/Geist-Black.woff2) format('woff2');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url(fonts/Geist-UltraBlack.woff2) format('woff2');
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}

:root {
  --font-geist-mono: 'GeistMono', ui-monospace, SFMono-Regular, Roboto Mono, Menlo, Monaco, Liberation Mono, DejaVu Sans Mono, Courier New, monospace
}

@tailwind base;
@tailwind components;
@tailwind utilities;
